<head>
    <link rel="stylesheet" type="text/css" href="/css/setting.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="setting.js"></script>



    <script src="JavaScript/jquery-1.10.2.js" type="text/javascript"></script>

</head>
<!------ Include the above in your HEAD tag ---------->

<body id="billing">
    <div class="container">
        <div id="menu">

            <div class="row">

                <div class="col-md-3">
                    <ul class="nav nav-pills nav-stacked admin-menu">


                            <li class="setting"><a href="/setting">Account Info</a></li>

                            <li class="setting2"><a href="/setting2">Security</a></li>

                            <li class="billing"><a href="/billing">Billing</a></li>

                    </ul>
                </div>

                <div class="col-md-9  admin-content" id="profile">
                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title">Name</h3>
                        </div>
                        <div class="panel-body">
                            Ashish Patel
                        </div>
                    </div>
                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title">Email</h3>
                        </div>
                        <div class="panel-body">
                            ashishpatel0720@gmail.com
                        </div>
                    </div>
                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title">Last Password Change</h3>

                        </div>
                        <div class="panel-body">
                            4 days Ago
                        </div>
                    </div>

                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title">Notification</h3>
                        </div>
                        <div class="panel-body">
                            <div class="label label-success">allowed</div>
                        </div>
                    </div>
                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title">Newsletter</h3>
                        </div>
                        <div class="panel-body">
                            <div class="badge">Monthly</div>
                        </div>
                    </div>
                    <div class="panel panel-info" style="margin: 1em;">
                        <div class="panel-heading">
                            <h3 class="panel-title">Admin</h3>

                        </div>
                        <div class="panel-body">
                            <div class="label label-success">yes</div>
                        </div>
                    </div>

                </div>




            </div>
        </div>
    </div>
    </div>

</body>