<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->
<div class="c">
<div>
        <form action="/addfeedback" method="post" id="addVideo">
            <div class="row"> {{!—- row 1--}}
                <div class="col-lg-9">
                    <div class="form-group">
                        {{!—- Title --}}
                        <label for="title">Product Name:</label>
                        <p>{{productdetails}}</p>
                        {{!-- Practical 09 Activity 02 --}}
                                        <div>
                                            <label>Please rate the menu plan</label>
                                            <br>
                    <span class="starRating">
                    <input id="rating5" type="radio" name="rating" value="5">
                    <label for="rating5">5</label>
                    <input id="rating4" type="radio" name="rating" value="4">
                    <label for="rating4">4</label>
                    <input id="rating3" type="radio" name="rating" value="3">
                    <label for="rating3">3</label>
                    <input id="rating2" type="radio" name="rating" value="2">
                    <label for="rating2">2</label>
                    <input id="rating1" type="radio" name="rating" value="1">
                    <label for="rating1">1</label>
                  </span>
                  <br>
                </div>
                
                    </div>
                    <div class="form-group">
                        {{!—- Story --}}
                        <label>Other Comments</label>
                        <textarea class="form-control" id="story" name="comments" rows="12">{{comments}}</textarea>
                    </div>
                           <div class="form-group">
                
            <button id="butAddVideo" type="submit" class="btn btn-warning">Submit
            </button>
                </div>
                </div>
            </div>
            </div>
   </form>
     

<script>
    $('#datepicker').datepicker({
        format: 'dd/mm/yyyy',
        value: new Date().toLocaleDateString('en-SG'),
        uiLibrary: 'bootstrap4',
    });
</script>