<form action="../shopCartTest" method="post" id="addCart">
    <div>
        <textarea id="listName" name="listName" rows="2">

        </textarea>
    </div>
    <div>
        <textarea id="listDesc" name="listDesc" rows="2">
            
        </textarea>
    </div>
    <div>
        <textarea id="listPrice" name="listPrice" rows="1">

        </textarea>
    </div>
    <div>
        <textarea id="listQuantity" name="listQuantity" rows="1">

        </textarea>
    </div>
    <button id="butShopCart" type="submit" class="btn btn-primary">Save
            </button>
</form>