{{!--<div class="jumbotron text-center">
	<div class="container">
		<h1 class="display-4">{{title}}</h1>
		<p class="lead">Your personal video jotter</p>
	</div>
	<br>
</div>--}}

<div class="container">
    <h1>Our Store Page</h1>
    <p>We aim to bring you a wide selection of delectable yet easy to cook meals that you can prepare yourself,
        here you can select or view our variety of recipes as well as exclusive in store ingredients and cooking
        essentials</p>

    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#home" data-toggle="tab">Main</a></li>
        <li class="nav-item"><a class="nav-link" href="#menu1" data-toggle="tab">Halal</a></li>
        <li class="nav-item"><a class="nav-link" href="#menu2" data-toggle="tab">Vegetarian</a></li>
        <li class="nav-item"><a class="nav-link" href="#menu3" data-toggle="tab">Under 500</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3 style="text-align: center">Main Menu</h3>
            <p style="text-align: center">Enjoy our full menu, here we have something for everyones palate.
                Our menu changes every month to bring new flavours for you to enjoy. Should you be looking for more
                specific categories of food be sure to visit the other categories of our menu.</p>
            <div class="card-columns" style="text-align: center">
                <div class="card card-body">
                    <a href="/recipePage" target="_blank">
                        <img src="https://i.imgur.com/OFNqu8z.png" alt="Lights" style="width:100%">
                    </a>
                    <h2>This is the shopping cart page</h2>
                    <h3>This is another text</h3>
                    <a href="/recipePage" class="btn btn-primary">View Recipe</a>
                </div>
                <div class="card card-body">
                    <a href="/recipePage" target="_blank">
                        <img src="https://i.imgur.com/OFNqu8z.png" alt="Lights" style="width:100%">
                    </a>
                    <h2>This is the shopping cart page</h2>
                    <h3>This is another text</h3>
                    <a href="/recipePage" class="btn btn-primary">View Recipe</a>
                </div>
                <div class="card card-body">
                    <a href="/recipePage" target="_blank">
                        <img src="https://i.imgur.com/OFNqu8z.png" alt="Lights" style="width:100%">
                    </a>
                    <h2>This is the shopping cart page</h2>
                    <h3>This is another text</h3>
                    <a href="/recipePage" class="btn btn-primary">View Recipe</a>
                </div>
                <div class="card card-body">
                    <a href="/recipePage" target="_blank">
                        <img src="https://i.imgur.com/OFNqu8z.png" alt="Lights" style="width:100%">
                    </a>
                    <h2>This is the shopping cart page</h2>
                    <h3>This is another text</h3>
                    <a href="/recipePage" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>

        <div id="menu1" class="tab-pane fade">
            <h3 style="text-align: center">Halal Menu</h3>
            <p style="text-align: center">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo
                consequat.</p>
            <div class="card-columns" style="text-align: center">
                <div class="card card-body">
                    <a href="https://www.youtube.com/watch?v=YyJRDA21PCs" target="_blank"><!--easter egg here-->
                        <img src="https://i.imgur.com/OFNqu8z.png" alt="Lights" style="width:100%">
                    </a>
                    <h2>This is the shopping cart page</h2>
                    <h3>This is another text</h3>
                    <a href="/recipePage" class="btn btn-primary">View Recipe</a>
                </div>
                <div class="card card-body">
                    <a href="/recipePage" target="_blank">
                        <img src="https://i.imgur.com/OFNqu8z.png" alt="Lights" style="width:100%">
                    </a>
                    <h2>This is the shopping cart page</h2>
                    <h3>This is another text</h3>
                    <a href="/recipePage" class="btn btn-primary">View Recipe</a>
                </div>
                <div class="card card-body">
                    <a href="/recipePage" target="_blank">
                        <img src="https://i.imgur.com/OFNqu8z.png" alt="Lights" style="width:100%">
                    </a>
                    <h2>This is the shopping cart page</h2>
                    <h3>This is another text</h3>
                    <a href="/recipePage" class="btn btn-primary">View Recipe</a>
                </div>
                <div class="card card-body">
                    <a href="/recipePage" target="_blank">
                        <img src="https://i.imgur.com/OFNqu8z.png" alt="Lights" style="width:100%">
                    </a>
                    <h2>This is the shopping cart page</h2>
                    <h3>This is another text</h3>
                    <a href="/recipePage" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>

        <div id="menu2" class="tab-pane fade">
            <h3 style="text-align: center">Vegetarian Menu</h3>
            <p style="text-align: center">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo
                consequat.</p>
            <div class="card-columns" style="text-align: center">
                <div class="card card-body">
                    <a href="/recipePage" target="_blank">
                        <img src="https://i.imgur.com/OFNqu8z.png" alt="Lights" style="width:100%">
                    </a>
                    <h2>This is the shopping cart page</h2>
                    <h3>This is another text</h3>
                    <a href="/recipePage" class="btn btn-primary">View Recipe</a>
                </div>
                <div class="card card-body">
                    <a href="/recipePage" target="_blank">
                        <img src="https://i.imgur.com/OFNqu8z.png" alt="Lights" style="width:100%">
                    </a>
                    <h2>This is the shopping cart page</h2>
                    <h3>This is another text</h3>
                    <a href="/recipePage" class="btn btn-primary">View Recipe</a>
                </div>
                <div class="card card-body">
                    <a href="/recipePage" target="_blank">
                        <img src="https://i.imgur.com/OFNqu8z.png" alt="Lights" style="width:100%">
                    </a>
                    <h2>This is the shopping cart page</h2>
                    <h3>This is another text</h3>
                    <a href="/recipePage" class="btn btn-primary">View Recipe</a>
                </div>
                <div class="card card-body">
                    <a href="/recipePage" target="_blank">
                        <img src="https://i.imgur.com/OFNqu8z.png" alt="Lights" style="width:100%">
                    </a>
                    <h2>This is the shopping cart page</h2>
                    <h3>This is another text</h3>
                    <a href="/recipePage" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>

        <div id="menu3" class="tab-pane fade">
            <h3 style="text-align: center">Under 500 Cal Menu</h3>
            <p style="text-align: center">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo
                consequat.</p>
            <div class="card-columns" style="text-align: center">
                <div class="card card-body">
                    <a href="/recipePage" target="_blank">
                        <img src="https://i.imgur.com/OFNqu8z.png" alt="Lights" style="width:100%">
                    </a>
                    <h2>This is the shopping cart page</h2>
                    <h3>This is another text</h3>
                    <a href="/recipePage" class="btn btn-primary">View Recipe</a>
                </div>
                <div class="card card-body">
                    <a href="/recipePage" target="_blank">
                        <img src="https://i.imgur.com/OFNqu8z.png" alt="Lights" style="width:100%">
                    </a>
                    <h2>This is the shopping cart page</h2>
                    <h3>This is another text</h3>
                    <a href="/recipePage" class="btn btn-primary">View Recipe</a>
                </div>
                <div class="card card-body">
                    <a href="/recipePage" target="_blank">
                        <img src="https://i.imgur.com/OFNqu8z.png" alt="Lights" style="width:100%">
                    </a>
                    <h2>This is the shopping cart page</h2>
                    <h3>This is another text</h3>
                    <a href="/recipePage" class="btn btn-primary">View Recipe</a>
                </div>
                <div class="card card-body">
                    <a href="/recipePage" target="_blank">
                        <img src="https://i.imgur.com/OFNqu8z.png" alt="Lights" style="width:100%">
                    </a>
                    <h2>This is the shopping cart page</h2>
                    <h3>This is another text</h3>
                    <a href="/recipePage" class="btn btn-primary">View Recipe</a>
                </div>
            </div>
        </div>
    </div>
</div>