<body>
<br>
<p align="center" class="a">Thank you!</p>
<a href="/feedbacklist"><p align="center"><button>View Feedback</button></p></a>
<a href="/givefeedback"><p align="center"><button>Give New Feedback</button></p></a>
<a href="/makepurchase"><p align="center"><button>Make New Purchase</button></p></a>
<a href="/"><p align="center"><button>Back to Home</button></p></a>
</body>
<style>
    .a{
        margin: auto;
        color: orange;
        font-size: 30px;
        font-weight: bold;
    }
    button{
        background-color: orange;
        font-size: 30px;
        color: white;
        border: none;
        border-radius: 10px;
    }

</style>